
body
{
  background-size: 100%;
  background-color: #DCE2F0;
}

#menubar{
  font-size : 20px;
  background-color: white;
  }
#menubar :hover
{
    color:black;
}

#menubar ul li{
  display : inline-block;
  list-style-type: none;
  padding : 10px 15px;
  }
#menubar ul li a{
      color: #595959;
      text-decoration : none;
      text-align: center;
      font-weight: bold;
  } 


.slogan{
  width: 700px;
  height:50px;
  position: absolute;
  top : 60%;
  left:50%;
  transform: translate(-50%,-50%);
}
.logo2
{
  height: 200px;
  position: absolute;
  top : 40%;
  left:52%;
  transform: translate(-50%,-50%);
}

.search{
  height: 55px;
  width: 800px;
  border: none;
  border-radius:30px;
  background-color: #ffffff;
  position : absolute;
  top:70%;
  left:50%;
  transform:translate(-50%,-50%);
}
.search-small{
  height: 35px;
  width: 500px;
  border: none;
  border-radius:30px;
  background-color: #ffffff;
  position : absolute;
  top:15%;
  left:50%;
  transform:translate(-50%,-50%);
}

.input-1{
  font-size : 20px;
  border-radius:30px;
  width: 300px;
  padding: 13px;
  margin-left:10px;
  outline: none;
  float: left; 
  border:none;
}
.input-1-small{
  font-size : 15.5px;
  border-radius:30px;
  width: 150px;
  padding: 8.5px;
  margin-left:10px;
  outline: none;
  float: left; 
  border:none;
}
.input-2{
  font-size : 15px;
  border-radius:30px;
  width: 300px;
  padding-top: 10px;
  margin-left:10px;
  outline: none;
  float: left; 
  border:none;
}

.search-info{
  height: 40px;
  width: 600px;
  border: none;
  border-radius:30px;
  background-color: #ffffff;
  position : absolute;
  top:20%;
  left:50%;
  transform:translate(-50%,-50%);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}