.guidetable{
    width: 1500px;
    margin-left : 150px;
    margin-top : 70px;
    color: black;
}

.guidetable{
    text-align: center;
    color: black;
}

.guidetable .gt .guidetitle{
    font-weight: bold;
    font-size:20px;
    color: black;
    text-align: left;
    margin-left: 20px;
}



