
.container {
    position: absolute;
    top: 230%;
    left: 50%;
    transform: translate(-50%, -50%);

}

table {
    width: 1100px;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
    padding: 15px;
    background-color: rgba(255,255,255,0.2);
    color: white;
    text-align: center;
    font-weight: bold;
}

th {
    text-align: center;
}
td{
    position :relative;
}

thead th {
    background-color: #55608f;
    color: white;
    
}

tbody tr :hover{

    background-color: rgba(255,255,255,0.3);
    
}
td :hover:before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: -9999px;
        bottom: -9999px;
        background-color: rgba(255,255,255,0.2);
        z-index: -1;
    
}

.content{
    margin-left:10%;
    color: white;
    font-weight: bold;
    font-size:15px;
}

.cha{
    font-style : italic;
}